.arrow {
    width: 4vmin;
    height: 25vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow:hover{
    cursor:pointer;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 2vmin solid transparent;
    border-bottom: 2vmin solid transparent;
    border-left: 2vmin solid green;
    margin: 0 2vmin;
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 2vmin solid transparent;
    border-bottom: 2vmin solid transparent;
    border-right: 2vmin solid green;
    margin: 0 2vmin;
}